@charset "UTF-8";

body {
    background: rgb(107, 107, 241);
    font: normal arial 15pt;
}

header {
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.061); 
}

.container{
    display: block;
}

label{
    font-weight: bold;
    margin: 8px 0px;
}

input{
    width: 40%;
}

input#btnAdicionar{
    width: 20%;
}

select{
    display: block;
    width: 150px;
    margin-top: 10px;
}

#finalizar{
    margin-top: 10px;
    width: 30%;
}

button{
    cursor: pointer;
    border: solid 1px;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}